<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width,
  initial-scale=1.0"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="static/stylesheets/style.css"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <title>Document</title>
  </head>
  <body>
    <h1>CustoLex</h1>
    <section>
      <input type="text" id="myWord" />
      <button type="submit" id="btn">Translate</button>
      
    </section>
    <!-- <section class="row">
    <div><span>Mot A</span></div>
    <div><span>Mot B</span></div>
  </section> -->
    <script src="static/scripts/index.js"></script>
  </body>
</html>
